*{
    margin: 0 ;
    padding: 0 ;

}
body{
    /* background-image: url('../Assets/bg.jpeg') ; */
    /* background-size: cover ; */
    overflow : hidden ;
    height: 100vh ;
}
.taskbar{
      background-color : #f3f3f3 ;
    width : 100% ;
    position : absolute ;
    bottom : 0 ;
    display : flex ;
    z-index : 110 ;
    justify-content : center ;
  
  
}
.right{
    position : absolute ;
    right: 0 ;
    margin: 8px;
    height: 85%;
}
.startmenu {
    position : absolute ;
    bottom : -650px ;
    width : 100% ;
    text-align : center  ;
    transition : all 0.3s ease-in ;

}
.startmenu img{
    border-radius: 10px;
}

.icons{
    color : black ;
}
